button
    height: 50px
    width: 100%
    
    padding: 10px 15px

    color: inherit
    background-color: inherit
    border: none
    text-align: left

.name 
    font-size: 15px

.floor 
    font-size: 8px
    text-align: end

button:hover 
    cursor: pointer
    background: #f7f7f7
    color: #000000
